

.button {
   display: inline-block;
   text-decoration: none;
   line-height: 1;
   background: $blue;
   border: none;
   color: white;
   font-weight: 300;
   padding: $s-size;
   font-size: $font-size-large;
}

.button--link {
   background: none;
}


.button--secondary {
   background: #888;
}