
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: $dark-grey;
    line-height: 1.6;
    font-family: helvetica, arial, sans-serif;
    font-size: 1.6rem;
}

h1 {
    font-size: 2.2rem;
}


.someChanges {
    font-weight: bold;
}

